html body {
    background-image: url(../images/wild_oliva.png);
}

p, h2, h3 {
    color: white;
    line-height: 150%;
    animation-duration: 4s;
    animation-name: zoomIn;
}
h2, h3 {
    border-bottom: 5px solid grey;
    padding-bottom: 2%;
}

p {
    font-size: 18px;
}

.navbar {
    background: #ffffff69;
    border: none;
    border-bottom: 3px solid black;
}
.navbar-default .navbar-brand {
    color: white;
    font-size: 30px;
    background: #ffffff40;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

.panel-default { 
    background: #ffffff69;
    border: none;
    margin-top: 5%;
    margin-bottom: 5%;
    }

.cont2 {
    text-align: center;
    margin-top: 1.8%;
}

#Yogi {
    float: left;
    margin-right: 20px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    padding: 3%;
    animation-duration: 4s;
    animation-name: zoomIn;
}

.col-xs-6 {
    position: relative;
}

.portfolio-link {
    position: absolute;
    top: 10px;
    z-index: 1;
    text-decoration: none;
    font-size: 24px;
    color: white;
    height: 50px;
    width: 90.3%;
    text-align: center;
    padding: 3%;
    font-family: cursive;
}

.img-responsive:hover {
   box-shadow: 0 1px 8px black;

}

.portfolio-link:hover {
    color:#63c8ed;
    text-decoration: none;
}

/*.mini-box {
    width: 50%;
}
*/
.footer {
    background: #ffffff69;
    text-align: center;
    border-top: 3px solid black;
    height: 50px;
    padding-top: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#name, #email, #message {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type="submit"] {
    background-color: #63c8ed;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

/*@media only screen and (max-width: 980px) {
    .col-md-8 {
        width: 65%;
    }
    .cont2 {
        width: 35%;
    }
}*/

@media only screen and (max-width: 768px) {
/*    .col-sm-8 {
        width: 100%;
    }
    .col-sm-4 {
        width: 100%;
    }
}*/

@media only screen and (max-width: 640px) {
    #Yogi {
        width: 100%;
        margin-bottom: 4%;
    }
    .navbar-toggle {
        background-color: white;
    }
    .footer {
        position: inherit;
    }
    .cont2 {
        margin-bottom: 100px;
    }
    .img-responsive {
        margin: 0 auto;
        width: 100%;
    }
    .portfolio-link {
        font-size: 50px;
    }
}

